#footer {
  background: none repeat scroll center top #f4f4f4 !important;
  border-top: 5px solid $primary-color !important;
  padding: 20px 20px 0 !important;

  .wf-wrap {padding: 0px 9px}
  @media screen and (max-width:760px) {
    > .wf-wrap {padding: 0 9px 20px !important;}
  }
  #footer .wf-1-4,#footer  .wf-span-3 {
    width: 50%;
  }
  .footer-left {
    float: left;
    width: 48%;
    margin-right: 3%;
  }
  .footer-right {
    float: left;
    width: 49%;
  }

  .h_side_r .execphpwidget div {
    display: inline;
  }


  .widget-title, .widget-title a {
    color: $primary-color !important;
    font: $footer-title-font !important;
    background: none;
    text-align: left;
    padding: 0px;
    margin-bottom: 3px !important;
    text-transform: none !important;

    @media screen and (max-width: 760px) {font-size: 23px !important;}
    @media screen and (max-width: 590px) {font-size: 20px !important;}
  }
  #execphp-3 .execphpwidget {
    // width: 95.2%;
    padding-left: 10px;
    // float:right;

    ul {
     //max-height:160px;
     margin-top: 5px;
     overflow: hidden;
  
      li{
        width:33%;
        // margin-top: 3px;
        display: inline;
        float: left;
        padding: 6px 0;

        a {
          font-size: 15px;
          line-height: 1.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space: nowrap;
          width: 95%;
          display: block;
          // line-height: 2.2em;
        }
      }
    }
  }
  #execphp-3 {
    float:left;
    width: 45%;
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  #text-3 {
    margin-left: 5%;
    @media screen and (max-width: 760px) {width: 100%; margin-left: 0;}
    .textwidget {
    margin-top:18px;

      div{
       float:left;
       // width: 204px / 503px * 100%;
       width: auto;

       a {
        font:$footer-contact-font;
        line-height: 1.2em;
        color:$font-color;

        // @media screen and (max-width: 1064px) {font-size: 100%;}
        // @media screen and (max-width: 940px) {font-size: 95%;}
        // @media screen and (max-width: 920px) {font-size: 95%;}
        @media screen and (max-width: 760px) {font-size: 120%;}
        @media screen and (max-width: 590px) {font-size: 110%;}
        // @media screen and (max-width: 525px) {font-size: 96%;}

        span {
          font-weight:600;
        }

       }
     }

     #email-right {
      margin-left: 7%;
     }

     > div {
          @media screen and (min-width:760px) and (max-width:970px) {
              margin-left: 0 !important;
              padding-top: 15px;
              float: none;  
              display: block;
              clear: both;
          }
          @media screen and (max-width:500px) {
              margin-left: 0 !important;
              padding-top: 15px;
              float: none;  
              display: block;
              clear: both;
          }
     }

     > div:not(#email-right) {
          padding-top: 0 !important;
     }
    }
  }
  #text-4 {
    margin-top:24px;
    margin-left: 5%;
    @media screen and (max-width: 760px) {width: 100%; margin-left: 0;}
    .textwidget {
      margin: 18px 0 0;

        @media screen and (max-width:760px) {
            margin: 18px 0;
        }

      .social-wid {
        @include clearfix-dk();
      }
      .social-wid div {
        float:left;
      }
      .social-wid a {
        // padding: 4px 10px 8px 9px;
        padding: 4px 5%;
        color: #585858;
        font-size: 12px;
        font-family: 'open sans';
        float:left;

            @media screen and (max-width:1024px) {
              font-size: 14px;
              font-weight: 600;
              padding: 4px 5%;
                span {
                  display: none;
                }
            }

            @media screen and (max-width: 390px) {font-size: 3.1vw;}
      }

      .social_twitter {
        @media screen and (max-width:1024px) {
          padding: 0 0 0 10px;
          box-sizing:border-box;
        }
      }
      .social-wid > div {
        width: 33%;
        @media screen and (max-width:520px) {
          // float: none;
          // clear: both;
        }
      }

      .social-wid > div > div {
        @media screen and (max-width: 760px) {}
      }
    }
  }
  #text-5 {
    margin-top: 23px;
    clear:both !important;
    width: 100%;
      #footer-divider {
        //margin-left:-29px !important;
        .shopperbarn &,
        .bwd & {
          background:url(img/footer.jpg) no-repeat;
        }
        .onlyonestopshop & {
          background:url(img/footer-oss.jpg) no-repeat;
        }
        background-size: 100% 100%;
        width: 105.8%;
        height: 85px;
        display:block;
        position: relative;
        right: 29px;
        z-index:4;
        @media screen and (max-width: 900px) {height: 70px; right: 20px;}
        @media screen and (max-width: 790px) {height: 60px;}
        @media screen and (max-width: 760px) {display: none;}
      }

  }
}


#bottom-bar {
  border-bottom: 5px solid $primary-color;
  border-top: medium none;
  background: #f4f4f4;
  margin-left: 0 !important;


  .wf-float-right {
    margin-left: -140px !important;
   // width: 100%;
    
    @media screen and (max-width: 1024px) {width: 100%; }
    @media screen and (max-width: 760px) {
      margin-left: 0 !important;
      float: none !important;
      display: block;
    }
  }
  ul {
    text-align: center;
  }
  ul li.menu-item {
    font:$product-box-sub-font;
    display: inline-block;
    // float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

        a {text-align: center;}

    @media screen and (max-width: 760px) {
      font-size: 11px !important;
     // margin: 0 auto !important;
     // display: inline-block !important;

     &:before {
      left: -2em;
     }
    }

    &:before {
      content: '\f111';
      font-family: FontAwesome;
      position: absolute;
      font-size: .4em !important;
      top: 1.5em;
      left: -2em;
      //line-height: .6em;
    }

    // a {display: inline !important;}
  }
  ul li.menu-item.first {
    &:before {content: '';}
  }

 // .mini-nav > .menu-select {display: none !important;}

  .mini-nav ul > li.act > a, #bottom-bar .mini-nav > ul > li:hover > a {
   color: #8d9095;
   padding: 0 !important;
   border: none !important;
  }  

  .mini-nav ul {
    @media screen and (max-width: 760px) {
      display: block;
      width: 100%;
      // padding: 0 30px;
      margin: 0 auto;
      text-align: center;
    }
  }

  #branding-bottom {
    @media screen and (max-width: 760px) {
      display: none;
    }
  }

  .wf-td:nth-child(2) {
    @media screen and (max-width: 760px) {
      position: absolute;
      display: block;
      bottom: 8px;
      left: 0;
      right: 0;
    }
  }
  .wf-td:last-child {
    @media screen and (max-width: 760px) {
      position: absolute;
      float: none;
      bottom: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

}





