.promotion-divider {
  width: 383px / 786px * 100%;
  height: 63px;
  background-color: $sub-white;
  border-radius: 2px;
  float: left;
  position: relative;
  margin-top: 25px;
  margin-bottom: 13px;
  z-index: 9;
  @media screen and (max-width: 760px) {width: 109%; margin-left: -4.5%;}
  @media screen and (max-width: 510px) {width: 111%; margin-left: -5.5%;}

  .promotion-link {
    font-family: open sans;
    float: left;
    font-size: 1.3em;
    font-weight: 600;
    color: #999999;
    position: absolute;
    top:1.1em;
    right: 1.3em;

    @media screen and (max-width: 1024px) {
      font-size: 1em;
      top: 1.5em;
    }

    @media screen and (max-width: 930px) {
      font-size: .9em;
      top: 1.7em;
    }

    @media screen and (max-width: 888px) {
      font-size: .9em;
      top: 1.2em;

      a {display: block; margin-top: -5px;}

    }

    @media screen and (max-width: 760px) {
      font-size: 1.4em;
      top: 1.1em;

      a {display: inline;}
    }

    @media screen and (max-width: 480px) {
      font-size: 1.25em;
      top: 1.25em;
    }

    @media screen and (max-width:335px) {
      color: #000;
    }

    span.highlight {
      color: $primary-color !important;
      
    }

    i.fa {
      font-size:.70em;
      color: $primary-color !important;
      margin-left: 1px;
    }
  }

  .promotion_pdf {
    text-indent: -9999px;
    @extend .PDF-File;
    margin-left: 19px;

    @media screen and (max-width: 888px) and (min-height: 761px) {margin-left: 6px;}

  }

  .promotion_specials {
    text-indent: -9999px;
    @extend .Gift-icon;
    margin-left: 20px;

        @media screen and (max-width:358px) {
            margin-left: 3px;
        }
  }

}

.first-divider {
  margin-right: 20px / 786px * 100%;
}

.second-divider {
  @media screen and (max-width: 760px) {display: none;}
}