
.sidebar-content { width: 214px;}

.sidebar-right #sidebar, .sidebar-left #sidebar {max-width: 214px;  position: static;}

.sidebar-left .sidebar {
  @media screen and (max-width: 1024px) { margin-left: -242px; }
}

.sidebar-right .sidebar {
  @media screen and (max-width: 1024px) { margin-right: -242px; }
}

// .single-product .sidebar {
//   @media screen and (max-width:1024px) { margin-right: -12px; }
// }

.sidebar { width: 214px;

  @media screen and (max-width: 760px) {
    display: none !important;
  }


  #woocommerce_recently_viewed_products-2 {
    padding-bottom: 12px;
    border-bottom: 1px solid $divider-color;
  }
  
  #woocommerce_product_search-2 {
    #searchform {
      border-bottom: 1px solid $divider-color;
      padding-bottom: 18px !important;
      margin-bottom: 0 !important;
      padding-top: 9px;

      #searchsubmit {
          margin: 0 -2px 0 0 ;
      }

      #s {
        width: 184px !important;
        margin-bottom: 0 !important;
        background: white;
      }

    }
  }

  li.menu-item {position: relative;}

  .view-all {
    position: absolute;
    display: block; 
    padding: 0;
    margin-left: 10px;
    top: 1em;
    right: 0;
  }

  .view-all-content {
    width: 31px;
    height: 13px;
    border-radius: 2px;
    background-color: $payments-color;
  }

  .view-all-content:before {
    content: '\f04e';
    position: absolute;
    font: 400 9px FontAwesome;
    color: $sub-white;
    top: 2px;
    left: 19px;
  }


  .view-all-content:after {
    content: 'All';
    position: absolute;
    font:700 9px open sans;
    color: $sub-white;
    top: 0px;
    left: 4px;
  }

    li.menu-item:hover .view-all-content {background-color: $contrast-color;}

  // Margin top fix for when search is the first child of the sidebar !!!
  .sidebar-content > #woocommerce_product_search-2:nth-child(2) {
    margin-top: 17px !important;
  }
  // Margin top fix for when search is the first child of the sidebar ###

  .widget {
    border-top: medium none !important;
    margin: 0 15px 13px;
    padding: 0;

    .product_list_widget a {
      color: #585858;
      font-size: 12.5px;
      font-weight: 600 !important;
    }

    .product_list_widget .quantity {
      color: #838383;
      font-size: 10.5px;
    }

    .button.checkout.wc-forward {
      display: block !important;
      color: $primary-color !important;
      background: #fff !important;
      border-radius: 2px !important;
      border: 1px solid #CACACA !important;
      font-weight: 600 !important;
      width:68px;
      float: right;
    }
  }
  .widget-title {
    font:$sidebar-title-font !important;
    color:$primary-color !important;
    text-transform: none;
    text-align: left !important;
    padding-bottom: 10px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
  }

  .widget_layered_nav, .widget_brand_nav {
    border-bottom: 1px solid $divider-color;  
    ul {   
      max-height: 190px; overflow-y: scroll;
      li {

        a {
          font:$sidebar-items-font;
          color:$font-color;
        }
        .dk-checkbox {
          @extend .radio;
          float: left;
          margin-top: 5.5px;
          margin-right: 4px;
        }

        a:hover .dk-checkbox {
          @extend .radio-filled;
          float: left;
          margin-top: 5.5px;
          margin-right: 4px;
        }
      }
      .dk-chosen {
        .dk-checkbox {
          @extend .radio-filled;
          float: left;
          margin-top: 5.5px;
          margin-right: 4px;
        }
      }
    }
  }


  //.widget_brand_nav {}
  //customer-support-sidebar !
  #text-8 {

    .textwidget {

      margin-top: 10px;
      
      //icons! 

      .phone-sidebar, .email-sidebar {float: left;}

      .email-sidebar {margin-top: 2px;}
      //icons#

      //text!
      a {
        float: left;
        color: $font-color !important;
        font-size: 14px;
        margin-left: 7px;

        span {

          font-weight: 600 !important;
          color: $font-color !important;
        }
      }//text!

      #email-sidebar {
        margin-top: 15px;

        a span {font-size: 13px;}
      }

    }
  }
  //customer-support-siderbar #

  //products list !
  .product_list_widget li a img {margin: 3px 12px 5px 0px !important;}

  .product-text {
    float: left;
  }

  .product-content {
    color:#838383;
    font-size: 11px !important;
    line-height: 130%;
    margin-top: -3px;
    display: inline;
  }

  //products list #
}

.woocommerce-cart .sidebar {
  @media screen and (max-width:760px) {
    display: block !important;
    float: none !important;
    clear: both !important;
    margin: 0 auto 0;
  }

  @media screen and (max-width:480px) {
    display: block !important;
    float: none !important;
    clear: both !important;
  }
} 

.sidebar-content {
  background-color:  #f4f4f4;
  border-width: 1px;
  border-color: #CFCFCF;
  border-style: solid;
  overflow:hidden;
  border-radius: 2px 2px 0 0;

  section:last-child {
    padding-bottom: 20px;
  }

  section:first-child {
    background: none repeat scroll 0 0 $primary-color;
    padding: 13px 0;
    margin: 0;
    border-radius:2px 2px 0 0;
  }

  section:first-child .widget-title {
    background: none repeat scroll 0 0 $primary-color;
    font-family: Montserrat;
    color: #fff !important;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400 !important;
  }
}


#sidebar ul.custom-nav li a {
	padding:15px 0px 0px 9px;
	font: $base-title-font;
	color: $primary-color;
}

#sidebar ul li.has-children ul li a{
	font: $sidebar-items-font !important;
	color: $font-color !important;
	padding:0 0 0 10px !important;
}

#sidebar ul li.has-children ul li.first a{
	margin-top:3px !important;
}

.custom-menu {
	padding:0 !important;
}

.custom-nav {
  margin: 0;

  .has-children > a {
    font-weight: 600;
    color: $primary-color !important;
  }

  > li > ul {
    background: #F4F4F4 !important;
    border: 0  !important;
  }

  li {
    border: none !important;
  }

}


#presscore-custom-menu-2-2{padding: 0; margin-bottom: 0 !important;}

#presscore-custom-menu-2-4 {padding-top: 0 !important;}

.gecko .sidebar .view-all-content:before {top: 1px !important;}
.gecko #main-nav .view-all {top: 112px !important;}


.home .sidebar {
  width: 214px / 1024px * 100%;
}

.sidebar-content .widget:last-child {border-bottom: 0px !important;}



.custom-nav .has-children > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight:600;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 2px;
      left: 0px;
      background-repeat:no-repeat; 
      background-position:  -317px -237px;
      width: 6px;
      height: 7px;

        .shopperbarn &,
        .bwd & {
          background-image: url(css/sprites.png);
        }

        .onlyonestopshop & {
          background-image: url(css/sprites-oss.png);
        }
    }
}
.custom-nav .has-children > a.active {

    &:after {
      background-position: -316px -246px;
      width: 7px;
      left: -1px;
      bottom: 1px;
    }
}

#text-2 .widget-title, #text-7 .widget-title {
font-family: Montserrat !important;
color:  #ffffff !important;
font-size: 18px !important;
line-height:14px !important;
text-align:center !important;
background-color:  $primary-color !important;
font-weight: 400 !important;
text-transform: uppercase !important;
padding-bottom: none !important;
}


.gecko #text-2 .widget-title, .gecko #text-7 .widget-title {
font-family: Montserrat !important;
color:  #ffffff !important;
font-size: 18px !important;
line-height:14px !important;
text-align:center !important;
background-color:  $primary-color !important;
font-weight: 400 !important;
text-transform: uppercase !important;
padding-bottom: none !important;
}