ul.products {
  margin:0 0 0 0 !important;
}
ul.products li.product{
  word-spacing: 0 !important;
  padding: 0 !important;
  margin: 0 3.18% 3.18% 0 !important;
  width: 245px / 786px * 100% !important;

  &:hover .dk-go {
     background-position:  -287px -308px ;
  }
  .hover-product{
    position:absolute;
    width:100%;
    height: 100%;
    top:0px;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;

    .shopperbarn &,
    .bwd & {
      background: rgba(182, 44, 108, 0.5);
    }

    .onlyonestopshop & {
      background: rgba(52, 73, 96, 0.5);
    }


    .hov-product {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);

      .quick-view {
        @include button-large($sub-white, $primary-color, $sub-white, $primary-color);
        display:block !important;
        margin: 0 auto;
        line-height: 0 !important;
        padding: 18px 0 !important;
        height: 0 !important;

            @media screen and (max-width:760px) {
              
            }
      }
      .add_to_cart_button {
        @include button-large($sub-white, $primary-color, $sub-white, $primary-color);
        display: block !important;
        margin: 0 auto;
        margin-top: 12px;
        line-height: 0 !important;
        padding: 18px 0 !important;
        height: 0 !important;
      }
    }
  }


  .product-wrap {
    background-color: $sub-white;
    display: block;
    border-radius: 2px;
    border: 1px solid $divider-color;
    position:relative;

    .image-set {
      position: relative;
      border-bottom: 1px solid $divider-color; 
      background-color: white;
      height: 225px;

        img {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          display: block;
          margin: 0 auto;
          max-width: none;
          width: auto;
          max-width: 99.5%;
          max-height: 224px;

          &.woocommerce-placeholder {
            width: 85%;
            height: 85%;
          }
        }

        .hover-product {
          // display: none;
        }
    }

    .first-set {
      margin-top: 15px;
      display: block !important;
     }
    .last-set {
      margin-bottom: 13px;
      display: block !important;
      padding-top: 3px !important;
    }
    .product-set {
      padding: 0px 10px;
      overflow: hidden;
      height: auto;
    }


      .cat_text {
        margin-left: 0 !important;
        margin-top: -1px !important;
        float:left;
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 130% !important;
        position: static;
        width: 67%;
      }

      .price {
        float:right;
        .amount {
          color:$primary-color;
          font-family: open sans;
          font-size:19px;
          font-weight:600;
          line-height: 60%;
          text-decoration: none !important;
        }
      }

      .star-rating {float:right; padding-right:0px !important;}
      .product-content {display: inline; line-height: 95% !important;}


  }

  // @media screen and (min-width:1024px) {
  //   img {max-height: 224px;}  
  // }

  @media screen and (max-width:940px) {
   width: 47.4% !important; 
  //  height: 375px;
   margin: 0 5% 5% -0px !important;

  }


  @media screen and (max-width:480px) {
    margin: 0 auto 5.18% auto !important;
    float: none !important;
    clear: both !important;
    width: 229px !important;
    display: block !important;

  }
}


.woocommerce-page ul.products {
    width:100%;

    li.product:nth-child(3n){
    margin: 0 0 3.18% 0 !important;

      @media screen and (max-width:940px) {
        margin: 0 5% 5% 0 !important;
      } 

      @media screen and (max-width:480px) {
        margin: 0 auto 5.18% auto !important;
      } 
    }

    @media screen and (max-width:940px) {
      li.product:nth-child(2n){
        margin: 0 0 5% 0 !important;
    }

    @media screen and (max-width:480px) {
      li.product:nth-child(2n){
        margin: 0 auto 5.18% auto !important;
      }
    }
  }

}

li.product:hover .hover-product {
  opacity: 1 !important;
}


.summary {
  width: 396px / 786px * 100% !important;

  @media screen and (max-width: 760px) {
    width: 100% !important;
  }

  h1.product_title {
    font-family: Open Sans;
    font-size:23px;
    font-weight: 600 !important;
    color: $font-color !important;
    line-height: 120% !important;
    padding-bottom: 10px !important;
    margin-bottom: 4px !important;
    border-bottom: 1px solid $divider-color !important;

        @media screen and (max-width:760px) {
          margin-top: 15px !important;
        }
  }
  .woocommerce-product-rating {
    margin: 0.6em 0 0.7em;
    .star-rating {
      margin: 0 !important;
      font-size: 0.8em;
    }
    .woocommerce-review-link {
      color:$background-color;
      font-size:13px;
      line-height: 1em;
      font-family: Open Sans;
      font-weight: 600;
      margin-left: 5px;
      display: block;
      float: left;

    }
  }
  .social-icons-product {
    float:right;
    margin-top: 0.5em;
    p {
      display: inline;
      float: left;
      font-family: Open Sans;
      color:  $background-color;
      font-size: 13px; /* Approximation due to font substitution */
      font-weight: 600 !important;
      //line-height: 17px;
      margin: -2px 7px 0 0;
    }
  }

  p.dk-clearfix {
    margin-bottom: 0 !important;
  }

  div[itemprop="description"] {
    height: 184px;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    margin-bottom: 0 !important;
    font-size: 14px;
  }

  .price-box {
    border: 1px solid $divider-color;
    background: $sub-white;
    //width: 100%;
    //height: 65px;
    max-height: 65px;
    padding: 13px;
    max-width: 370px !important;
    width: 100%;
    margin: 39px auto 0;

    @media screen and (max-width: 440px) {width: 64%; padding: 17px 13px !important; min-width: 244px;}
    @media screen and (min-width: 760px) and (max-width: 1024px) {width: 64%; padding: 17px 13px !important; min-width: 244px;}

    > div {
      display: block !important;
      float: left;
      //width: 118.5px;
      min-width: 90px;
      width: 32%;
      position: relative;
      @media screen and (max-width: 440px) {float: none !important; width: 100%; text-align: center;}
      @media screen and (min-width: 760px) and (max-width: 1024px) {float: none !important; width: 100%; text-align: center;}

      .price {
        margin-bottom: 0 !important;
        font-family: Open Sans !important;
        color:  $primary-color !important;
        font-size: 23px;
        font-weight: 600 !important;
        padding-top: 5px !important;

        @media screen and (max-width: 760px) {
          font-size: 20px !important;
          padding-top: 9px !important;          
        }
        @media screen and (max-width: 440px) {font-size: 25px !important; padding-top: 0 !important; padding-bottom: 6px !important;}
        @media screen and (min-width: 760px) and (max-width: 1024px) {font-size: 25px !important; padding-top: 0 !important; padding-bottom: 6px !important;}

        .per-unit {
          font-size:16px !important;

        }

        del {
          position: absolute;
          top: -15px;
          text-decoration: line-through !important;

          span.amount {
            font-size:14px !important;
          }
        }
      }
    }

    form.cart {
      margin-bottom: 0 !important;
      float: left !important;
      max-width: 249px;
      width: 100%;
      @media screen and (max-width: 440px) {margin: 0 auto !important; float: none !important;}
      @media screen and (min-width: 760px) and (max-width: 1024px) {margin: 0 auto !important; float: none !important;}

      button.button {
        @include button-large;
        &:hover {background-color: $primary-color !important; color: $sub-white !important; border: 1px solid $primary-color !important;}
        float: right;
        width: 133px;
      }
      .quantity-box {
        float:left;
        display: block;
        min-width: 116px;
        width: 46.56%;

        @media screen and (max-width: 440px) {width: 110px !important; min-width: 0 !important;}
        @media screen and (min-width: 760px) and (max-width: 1024px) {width: 110px !important; min-width: 0 !important;}

        .quantity-label {
          display: block;
          text-align: center;
          font-size: 12px;
          color: $font-color;
          font-weight: 400;
          font-family: open sans;
          line-height: 130%;
          position: relative;
          top: -4px;
        }

        .quantity.buttons_added{
          height: 21px !important;
          max-height: 24% !important;
          margin: 0 23% !important;
          padding: 0 !important;
        //  min-width: 60px !important;
          width: 51.8%;
          background-color: #fff;
          color: #7A7A7A;
          border: 1px solid #E0E0E0;
          float: left;

          @media screen and (max-width: 440px) {margin: 0 23% !important;}

            .minus, .plus {
              border-radius: 0px !important;
              background-color: #d0d0d0 !important;
              width: 35% !important;
              height: 100% !important;
              vertical-align: top !important;
            }

            .input-text {
              width: 30% !important;
              padding: 0 !important;
              @extend .quantity-label;
              top: -2px;
              //left: 1px;
              display: inline !important;
            }
        }
      }
    }
  }
}

div.images {
  width: 368px / 786px * 100% !important;
  margin-bottom: 0 !important;
  position: relative;

  @media screen and (max-width: 760px) {
    width: 100% !important;
  }

  .thumbnails {
    a {
      width: 58px / 368px * 100% !important;
    }

    a.first {
      clear: none !important;
    }
  }
}

.related.products {
  border-top: none !important;
  padding-top: 0 !important;
  width: 100%;


  h2.wpb_area_title {
    width: 100% !important;
  }

  .related-wrap {
    width: 100%;

        @media screen and (max-width:1024px) {
          overflow-x: scroll;
          -webkit-overflow-scroll:touch;
        }
        .image-set {
          height: 168px !important;
         
          img {
            max-height: 167px !important;
          }

        }
  }

  ul.products {
    margin: 21px 0 0 0 !important;
    width: 786px;


    li.product {
      width: 183px !important;
      margin: 0 2.8% 17px 0 !important;
      height: 217px !important;
      box-sizing: border-box;
      padding-right: 0 !important;
      padding-left: 0 !important;

          @media screen and (max-width:480px) {
            margin: 0 2.2% 17px 0 !important;
            float: left !important;
            clear: none !important;
            width: 183px !important;
            display: inline-block !important;
          }

      a {
        height: 217px !important;
      }

      .first-set {
        padding: 0 7px !important;
        margin-top: 8px !important;

        .cat_text {
          font-size: 13px !important;
          width: 110px !important;
          line-height: 160% !important;

        }

        .price{
          .amount {
            font-size: 16px !important;
          }
        }
      }

      .last-set {
        padding: 0 7px !important;

        .product-content, .wpb_row .wf-cell .wpb_text_column .wpb_wrapper {
          font-size: 10px !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 110px !important;
        }

        .star-rating {
          font-size:0.70em !important;
          width: 51px !important;
        }
      }
    }
    li.product:nth-child(4) {
      margin: 0 0 17px 0 !important;
    }
  }
}

//Firefox Margin Fix !!!!!!!!

.gecko .related.products ul.products li.product {margin: 0 2.2% 17px 0 !important;}

.gecko .related.products ul.products li.product:nth-child(4) {margin: 0 0 17px 0 !important;}

//Firefox Margin Fix ########


#tab-reviews #reviews #comments {

  h2.wpb_area_title {
    margin-top: 15px !important;
  }

  ol.commentlist {

    li {
      margin: 20px 0 0 !important;

      .comment-text {
        margin: 0px 0 0 130px !important;
        padding: 0 !important;
        border-color: $divider-color !important;

        .review-content {
          float: left !important;
          width: 76%;
          padding: 15px 0 0px 15px !important;

          @media screen and (max-width: 480px) {width: 87%; }
        }

        .review-stars {
          float: right;
          max-width: 125px;
          width: 20%;
          padding: 3.3% 0;
          border-left: 1px solid $divider-color;

          @media screen and (max-width: 935px) {width: 15%;}

          @media screen and (max-width: 480px) {width: 100%; float: none; border-left: none; border-bottom: 1px solid $divider-color; max-width: none;}

          .score-text {
            color: #cacaca;
            text-align: center;
            display: block;
          }

          .rating-in-text {
            font-size: 77.5px !important;
            line-height: 80% !important;
            font-family: Open Sans;
            font-weight: 300 !important;
            //margin-top: 10px;
            text-align: center;
            color: $contrast-color;
            letter-spacing: -4px;
            margin-top: 6px;

            @media screen and (max-width: 935px) {font-size: 42px !important;}
            @media screen and (max-width: 480px) {font-size: 68px !important;}
          }

          .star-rating {
            padding: 0 !important;
            position: relative !important;
            float: none !important;
            width: 83px !important;
            font-size: 16px !important;
            line-height: 0.95em !important;
            margin: 15px auto 0 !important;

            @media screen and (max-width: 935px) {font-size: 9px !important; width: 47px !important;}
            @media screen and (max-width: 480px) {font-size: 13px !important; width: 68px !important;}

            span {
              float: none !important;
            }
          }
        }

        .meta {
          padding-bottom: 12px;
          margin: 0 0 14px !important;
          border-bottom: 1px solid $divider-color;

          strong {
            display: block;
            font: 600 17px/22px Open Sans;
            color:$font-color;
            text-align: left;

            @media screen and (max-width: 935px) {font-size: 14px !important;}
          }

          time {
            font: 400 12px/16px Open Sans;
            color: #b7b7b7;
          }
        }
      }

      .author {
        position: absolute;
        top: 20px;
        left: 20px;

        img.avatar {
          position: static !important;
          float: none !important;
          display: block;
          margin: 0 auto 10px;
          border-radius: 35px;
          width: 60px !important;
        }

        strong {
          font: $base-font;
          line-height: 60%;
          font-weight: 600 !important;
          color: $primary-color;
          text-align: center;
          float: none !important;
        }


      }
    }
  }
}

.product-category > a {
  background-color: $sub-white;
  display: block;
  border-radius: 2px;
  border: 1px solid $divider-color;
  position:relative;

    img {
      border-bottom: 1px solid $divider-color;
    }
}
.cat-text-wrap {
  display: block;
  position: relative;
  height: 71px;
}

.cat-text {
  font: $base-title-font !important;
  color: $font-color !important;
  line-height: 81% !important;
  // margin-left:10px;
  // margin-top: 20px;
  position: absolute;
  left: 10px;
  bottom: 12px;
  width: 65% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;

  .count-dk {
    font: $sidebar-items-font !important;
    color: #838383 !important;
    line-height: 27px !important;
    background: none;
  }

}

  .dk-go {
  position: absolute;
  bottom:20px;
  right: 12px;
  }

.clear-form {
  display: none;
}

#tab-reviews {
  button.review-reveal {
    margin-bottom: 30px;
    float: right;
    @include button-medium ($sub-white, $primary-color, $divider-color, $primary-color);
  }

  input#submit {
    margin-bottom: 30px;
    @include button-medium ($sub-white, $primary-color, $divider-color, $primary-color);
  }
}

.social-icons-product {
  float:right;
  p {
    display: inline;
    float: left;
    font-family: Open Sans;
    color:  $background-color;
    font-size: 13px; /* Approximation due to font substitution */
    font-weight: 600;
    //line-height: 17px;
    margin-right: 7px;
  }
}

.safari .quantity-box .input-text, .safari .quantity .input-text{margin-top: -5px !important;}