
/*Font Variables*/

$h1-font: 400 29px/60% Open Sans;
$base-font: 400 14px Open Sans;
$base-title-font:600 16px/60% Open Sans;
$sidebar-title-font: 600 18px/60% Open Sans;
$sidebar-items-font: 400 12.5px/23px Open Sans;
$button-font:600 14px/60% Open Sans;

$product-box-sub-font:400 12px Open Sans;
$price-font: 300 23px Open Sans;

$footer-title-font: 600 23px Open Sans;
$footer-contact-font: 300 16px Open Sans;

$table-header: 400 14px/100% montserrat;


/*Color Variables*/

$primary-color: #ce337b;
// $primary-color: #344960;
$contrast-color: #bacf50;
$font-color: #585858;
$sub-white: #f0f0f0;
$subber-white: #fafafa;
$white: #fff;
$divider-color: #d3d3d3;
$background-color: #c2c2c2;
$item-bg: #f4f4f4;
$payments-color:#e4e4e4;


// Mixins

@mixin input-field ($mt: 25px, $mb: 0, $p: 13px) {
  margin-bottom: $mb !important;
  margin-top: $mt !important;
  width: 100% !important;
  max-width: none !important;
  border-radius: 2px !important;
  padding: $p !important;
  font: 400 12px open sans !important;

  &::-webkit-input-placeholder {color: #b2b2b2;}
  &:-moz-placeholder {color: #b2b2b2;}
  &::-moz-placeholder {color: #b2b2b2;}
  &:-ms-input-placeholder {color: #b2b2b2;}
}

@mixin clearfix-dk {

  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }

}

@mixin button ($bgcolor, $txtcolor, $bd, $bdh) {
  border-radius: 2px !important;
  border: 1px solid $bd !important;
  font: $button-font !important;
  text-align: center !important;
  text-decoration: none !important;
  background-color: $bgcolor;
  color: $txtcolor;
  box-sizing:border-box;
  box-shadow: none !important;
  text-shadow: none !important;

  &:hover {
    background-color: $txtcolor !important;
    color: $bgcolor !important;
    border: 1px solid $bdh !important;
  }
}

@mixin button-large ($bgcolor: $primary-color, $txtcolor: $sub-white, $bd: $primary-color, $bdh: $divider-color) {
  @include button($bgcolor, $txtcolor, $bd, $bdh);
  width: 133px;
  padding: 14px 0 !important;
 // font:600 14px open sans !important; 
}

@mixin button-medium ($bgcolor: $primary-color, $txtcolor: $sub-white, $bd: $primary-color, $bdh: $divider-color) {
  @include button($bgcolor, $txtcolor, $bd, $bdh);
  width: 110px;
  padding: 11px 0 !important;
  font:600 13px/60% open sans !important;
}

@mixin button-small ($bgcolor: $primary-color, $txtcolor: $sub-white, $bd: $primary-color, $bdh: $divider-color) {
  @include button($bgcolor, $txtcolor, $bd, $bdh);
  width: 85px;
  padding: 2px 0 !important;
  font:600 12px open sans !important;
}
//$bgcolor, $txtcolor, $bd, $bdh