@import '../global/vars';

@charset "utf-8";

.woocommerce #main a.button:hover,
#page .woocommerce a.button:hover,
#main button.button:hover,
.woocommerce-page #main a.button:hover,
.woocommerce-page #main button.button:hover,
.woocommerce-page #main input.button:hover,
.woocommerce-page #main #content input.button:hover {
  text-decoration: none;
}

.woocommerce.widget_product_search #s {
  border: 1px solid #E0E0E0;
  background-color: #fff;
  margin-bottom: 0;
}

.woocommerce-ordering-div {
  position: relative;
}

.woocommerce.widget_product_search #s {
  padding-right: 30px;
}

.woocommerce h1.page-title {
  overflow: visible;
  margin-left: 0;
  padding: 0;
  background: none;
}

.woocommerce h1.page-title:after,
.woocommerce h1.page-title:before {
  display: none;
}

.related.products .products,
.woocommerce ul.products,
.woocommerce-page ul.products {
  margin: 0 -20px;
  font-size: 0;
  line-height: 0;
  word-spacing: -4px;
}

.shipping-calculator-form input[type="text"],
.shipping-calculator-form select,
.woocommerce .form-row input {
  border: 1px solid #E0E0E0;
}

.shopping-cart-inner .amount {
  display: inline-block;
}

.woocommerce #content div.product,
.woocommerce-page #content div.product,
.woocommerce #content div.product {
  margin-top: 5px;
}

.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce-page .related ul li.product,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  display: inline-block;
  vertical-align: top;
  float: none;
  width: 25%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 35px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce-page .related ul li.product {
  width: 25%;
}

.woocommerce ul.products.shop-columns-3 li.product,
.woocommerce-page ul.products.shop-columns-3 li.product {
  width: 33.333%;
}

#page .related ul.products.shop-columns-2 li.product,
.woocommerce-page #page .related ul.products.shop-columns-2 li.product,
.woocommerce ul.products.shop-columns-2 li.product,
.woocommerce-page ul.products.shop-columns-2 li.product {
  width: 50%;
}

.woocommerce div.product div.images div.thumbnails a,
.woocommerce #content div.product div.images div.thumbnails a,
.woocommerce-page div.product div.images div.thumbnails a,
.woocommerce-page #content div.product div.images div.thumbnails a {
  margin-bottom: 3.8%;
}

.woocommerce #main ul.products li.product a img,
#page .woocommerce .product_list_widget a img,
.woocommerce-page #main ul.products li.product a img,
.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img {
  box-shadow: none;
  text-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

#main #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #main #reviews #comments ol.commentlist li .comment-text,
#main form.login,
.woocommerce-page #main form.login {
  box-shadow: none;
  text-shadow: none;
}

#main #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #main #reviews #comments ol.commentlist li img.avatar {
  top: 20px;
  left: 20px;
  border: none;
  padding: 0;
  background: none;
}

#main #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #main #reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 0px;
  padding: 15px 20px 0 72px;
}

#main #reviews h3,
.woocommerce-page #main #reviews h3 {
  margin-bottom: 10px;
}

.woocommerce-page #main input.button,
.woocommerce-page #main #content input.button {
  padding: 9px 10px 9px;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
  min-height: 28px;
  min-width: 28px;
  line-height: 28px;
  z-index: 1;
}

#main .onsale,
.woocommerce-page #main .onsale {
  font-weight: normal;
  z-index: 1;
}

.woocommerce ul.products li.product h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.woocommerce ul.products li.product h3:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
  margin-bottom: 0;
}

.woocommerce .sku_wrapper,
.woocommerce .posted_in {
  display: block;
}


.woocommerce-page #page .single_add_to_cart_button,
#page .single_add_to_cart_button {
  padding-top: 9px;
  padding-bottom: 9px;
  line-height: 18px;
}

#main #content div.product .summary.entry-summary .price,
.summary.entry-summary div[itemprop="description"],
#main #content div.product .summary.entry-summary .cart {
  margin-bottom: 30px;
}

.related.products {
  clear: both;
}

.related.products h2,
.upsells.products h2 {
  margin-bottom: 30px;
}

.upsells.products,
.related.products {
  padding-top: 30px;
}

.cart_totals table {
  border-bottom: none;
}

 ul.product_list_widget li img {
  float: left;
  margin: 3px 20px 5px 0;
  box-shadow: none;
  width: 50px;
  // width: auto;
  height: 50px;
}



#searchform .screen-reader-text {
  display: block;
  margin-bottom: 10px;
}

#page ul.product_list_widget li a,
#page .woocommerce ul.product_list_widget li a,
.woocommerce-page #page ul.product_list_widget li a {
  font-weight: normal;
}

#page ul.cart_list li,
#page ul.product_list_widget li,
#page .woocommerce ul.cart_list li,
#page .woocommerce ul.product_list_widget li,
.woocommerce-page #page ul.product_list_widget li {
  display: block;
  overflow: hidden;
  margin: 9px 0 0;
  padding: 15px 0 5px;
}

.woocommerce.widget_product_search #searchform > div {
  position: relative;
  overflow: hidden;
}

.widget_product_search #searchform label {
  display: none;
}

.woocommerce.widget_product_search #s {
  float: left;
}

.woocommerce.widget_product_search #s {
  width: 100%;
}

.woocommerce.widget_product_search #searchsubmit {
  position: absolute;
  top: 0;
  right: 3px;
  padding: 0;
  background-color: transparent;
}

.style-minimal .woocommerce.widget_product_search #s {
  margin-bottom: 0;
}

.woocommerce.widget_product_search #searchform {
  margin-bottom: 15px;
}


.woocommerce-page #page div.product form.cart,
.woocommerce-page #page #content div.product form.cart {
  margin-bottom: 10px;
}

.single-product .related.products {
  clear: both;
}

.woocommerce #branding a img,
.woocommerce-page #branding a img,
.woocommerce #branding-bottom img,
.woocommerce-page #branding-bottom img {
  max-width: none;
}


.wc-forward:after {
  margin-left: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1em;
  content: " →";
}

.variations_button {
  margin-top: 10px;
}

.woocommerce-page strong[itemprop="author"] {
  color: #373a41;
}

#main ul.products > * {
  font: normal 14px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
  color: #8d9095;
}

.related.products h2,
.upsells.products h2 {
  color: #373a41;
  font: normal normal normal 22px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}

#main .woocommerce button.button {
  padding-left: 10.6666666667px;
  padding-right: 10.6666666667px;
  font: normal normal normal 13px / 32px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

#main #content input.button,
.woocommerce-page #main input.button,
.woocommerce-page #main #content input.button {
  line-height: 18px;
}



.woocommerce #main span.onsale,
.woocommerce-page #main span.onsale,
#main .woocommerce span.onsale {
  background: $primary-color;
  color: #fff;
}

.woocommerce .product_meta,
.woocommerce-page .product_meta {
  font-size: 12px;
}

#main #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #main #reviews #comments ol.commentlist li .comment-text,
#main form.login,
.woocommerce-page #main form.login {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(218,222,225,0.7);
}

.upsells.products,
.related.products {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(218,222,225,0.7);
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del,
.woocommerce div.product span.price del,
.woocommerce div.product p.price del,
.woocommerce #content div.product span.price del,
.woocommerce #content div.product p.price del,
.woocommerce-page div.product span.price del,
.woocommerce-page div.product p.price del,
.woocommerce-page #content div.product span.price del,
.woocommerce-page #content div.product p.price del {
  font-size: 12px !important;
  color: rgba(141,144,149,0.4) !important;
}

#main div.product span.price,
.woocommerce #main div.product p.price,
#main #content div.product span.price,
#main #content div.product p.price,
.woocommerce-page #main div.product span.price,
.woocommerce-page #main div.product p.price,
.woocommerce-page #main #content div.product span.price,
.woocommerce-page #main #content div.product p.price,
#main #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce-page #main #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 14px;
}

#main #content div.product .summary.entry-summary .price {
  font-size: 22px;
}



.woocommerce .sidebar-content ul.product_list_widget li,
.sidebar-content .woocommerce ul.cart_list li,
.sidebar-content .woocommerce ul.product_list_widget li,
.woocommerce-page .sidebar-content ul.product_list_widget li {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(218,222,225,0.7);
  border-left: none;
  border-right: none;
  border-bottom: none;
}


#main #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce-page #main #reviews #comments ol.commentlist li .comment-text p.meta {
  color: #373a41;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: rgba(55,58,65,0.04) !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(218,222,225,0.7);
  box-shadow: inset 0px 0px 0px 1px rgba(218,222,225,0.7);
}

#page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page #page .widget_price_filter .ui-slider .ui-slider-range,
#page .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page #page .widget_price_filter .ui-slider .ui-slider-handle {
  background: $primary-color;
  box-shadow: none;
}

#page .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page #page .widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #922356;
}


#main ul.products li.product .button.add_to_cart_button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#main ul.products li.product .button.add_to_cart_button:before {
  display: none;
}

#main ul.products li.product .button.add_to_cart_button {
  background-repeat: no-repeat;
  background-position: right center;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
  border-top: none;
}

.content .woocommerce .shop_table.cart {
  margin-top: 5px;
}

#main table.shop_table td.actions,
.woocommerce-page #main table.shop_table td.actions {
  padding: 12px 12px;
}
#main table.shop_table {
  border: 1px solid;
}

.woocommerce #main table.shop_table th,
.woocommerce-page #main table.shop_table th {
  border-color: transparent;
}

#main table.shop_table td,
.woocommerce-page #main table.shop_table td,
#main table.shop_table th,
.woocommerce-page #main table.shop_table th,
#main table.shop_table,
.woocommerce-page #main table.shop_table {
  border-color: rgba(218,222,225,0.7);
}
