@import '../global/vars';


  .widget_presscore-custom-menu-2{
    
    border-bottom: 1px solid $divider-color;
    padding-bottom: 7px;
    .custom-nav {

      li {

        a {
          padding: 0 0 0 9px !important;
          color: $font-color !important;
          font: $sidebar-items-font !important;

          &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            background-image: url(../sprites.png) !important;
            background-position:  -48px -152px ;
            width: 6px;
            height: 7px;
          }
        }
        a:hover {
          padding: 0 0 0 9px !important;
          color: $font-color !important;
          font: $sidebar-items-font !important;

          &:before {
            background-position:  -48px -144px;
          }
        }
      }
    }
  }

  .order-again .button {

    float: right;
    margin: 5px 0 25px;
    @include button-large($subber-white, $primary-color, $divider-color, $primary-color);
    padding: 10px 0 !important;
  }




.wpb_area_title.smaller_title {

  font-size: 25px !important; color: $font-color !important;
  margin-bottom: 20px !important;
  padding-top: 8px !important;
  
  .title-highlight {color: $primary-color !important;}

}

  .wpb_area_title {
    @media screen and (max-width:456px) {
      font-size: 23px !important;  

    }
    @media screen and (max-width:380px) {
      font-size: 20px !important;
      line-height: 1.5em !important; 
      padding: 12px 0;
    }
    @media screen and (max-width:350px) {
      font-size: 17px !important;  
    }
  }


.qorder {
    

    &_product {
      width: 50%;
        input {
          margin-bottom: 0 !important;
        }
    }

    &_quantity {
      width: 7%;
      text-align: center;

        input {
          text-align: center;
          width: 70% !important;
          margin-bottom: 0 !important;
        }
    }

    &_price {
      width: 6%;
      text-align: center;
    }

}

.wcbulkorderformtr {
    td input {
      margin: 5px 0 !important;
    }

}

#BulkOrderForm {
    
    th {
      padding-bottom: 5px !important;
      font-size: 14px;
      font-family: montserrat;
      text-transform: uppercase;
    }
}

.table_actions {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $divider-color;

      .total {
        text-align: left !important;
        font-size: 18px;
        text-transform: uppercase;
        font-family: montserrat;
        // width: 50%;

            span {
              color: $primary-color;
            }
      }

      .deep_actions {
        padding-right: 5px !important;
        width: 15%;
      }

      button {
        margin: 20px 0;
        color: #999 !important;
        padding: 0;
        font-weight: 600 !important;
        padding: 0 25px !important;
        width: 100%;
      }

      input {
        border: 1px solid $divider-color;
        height: 35px;
        color: $primary-color;
        padding: 0;
        font-weight: 600 !important;

          &:hover {
            color: $sub-white;
            border-radius: 2px;
          }
      }
}

.page-id-296 h2.wpb_area_title {
  line-height: 1em !important;
}
.ui-autocomplete {
  background-color: $sub-white;
  width: 350px !important;
  border-radius: 2px;
  box-shadow: 0px 1px 4px 0px rgba(24, 23, 24, 0.20);
  margin: 6px 0 0 6px;
  padding: 7px 10px;

      li {
        width: 100%;
          a {
            width: 100% !important;
            display: block;
            line-height: 1.8em;
            color: #777;
          }
      }
}


.page-id-263 {

    .userpro {
      margin: 0 !important;
      width: 100%;
      float: none;
      background: transparent;
      border: 0;
      min-width: 00 !important;

      &-body {
        padding: 0 !important;
      }

      &-field {
        margin-top: 25px !important;

        @include clearfix-dk();
      }

      &-input {
        float: left;
        width: 70% !important;
      }

      &-column {
        background: $sub-white !important;
        border: 1px solid $divider-color !important;
        color: #777 !important;
        font-family: montserrat !important;
        text-transform: uppercase;
        font-size: 15px;
        padding: 7px 10px !important;
        border-radius: 2px !important;
        margin: 60px 0 0 !important;

            span {
              display: none ;
            }
      }

      &-column:nth-of-type(1) {
        margin: 15px 0 0 !important;
      }

      &-label {
        width: 30% !important;
        float: left;
        margin: 0 !important;

            label {
              line-height: 45px;

                  @media screen and (max-width:510px) {
                      line-height: 1em;
                      padding: 16px 0;
                  }
            }
      }

    }

    .userpro .userpro-body .userpro-input input {
      width: 100% !important;
      margin-top: 0 !important;
    }

    .userpro-field-passwordstrength {

        .userpro-input {
          width: 100% !important;
        }

        .strength-text {
          float: none !important;
          text-align: right !important;
          display: block;
        }
       
        .strength-container {
          float: right;
        }
    }

    [class^="userpro-icon-"] {
      font-family: fontawesome;
      line-height: 45px !important;
    }

    .icon-ok {
      margin-right: 7px !important;
    }

    .userpro-submit {
      background: transparent !important;
      border: 0 !important;
      padding: 0 !important;
    }
}


#section1 {
  margin-top: 0 !important;
}

#wpcf7-f666-p661-o1, #wpcf7-f668-p576-o1 {

    .content-dk {
      @include clearfix-dk();
    }
    
    .field-set {
      @include clearfix-dk();
      clear: both;
      width: 100%;

        .field-title {
          display: block;
          float: left;
          width: 25%;
          padding: 11px 0;
        }

        > span {
          display: block;
          float: left;
          width: 70% !important;
          margin-left: 5%;

              input, select {
                width: 100% !important;
                height: 46px;
                border: 1px solid $divider-color;
                border-radius: 2px;
                max-width: none;
                margin-bottom: 20px;
              }

              textarea {
                border: 1px solid $divider-color;
                border-radius: 2px;
                margin-bottom: 20px;
              }

              select {
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                -o-appearance:none;
                appearance:none;
              }
        }
    }

    .ownership-type {
      padding: 11px 0;
        
        >span >span {

            input {
              width: auto !important;
              height: auto !important;
              margin-bottom: 0;
            }

            .wpcf7-list-item {
              margin-right: 10%;
            }
        }
    }

    .billing-same-checkbox {
      height: auto !important;
      margin: 0 10px 25px 0;
    }

    .billing-checkbox {
      float: right;
      width: auto !important;
    }

    .next-step {
      clear: both;
    }

    .wpcf7-submit {
      display: block;
      float: right;
      clear: both;
      width: 22.3358%;
      height: auto !important;
      padding: 10px 0 !important;
      margin-right: 2px;
      font-weight: 600 !important;
      font-size: 14px !important;
      color: $sub-white;
      background-color: $primary-color;
      border-color: $primary-color !important;

          &:hover {
            background-color: $sub-white;
            color: $primary-color;
            border-color: $divider-color !important;
          }
    }
}

.add-button {
  padding: 8px 0;
  border: 1px solid $divider-color;
  background-color: $sub-white;
  color: $primary-color;
  width: 22.3358%;
  min-width: 130px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 2px 10px 0;
  float: right;
  box-sizing:border-box;

    &:hover {
      background-color: #fff;
    }

    span {
      display: block;
      width: 100%;
      text-align: center;
    }
}

.added-section {
  @include clearfix-dk();
  border-top: 1px solid $divider-color;
  padding-top: 20px;
}

.added-section:nth-child(1) {
  border-top: 0;
  padding-top: 0;
}
.field-set-acceptance {
  float: right;
  margin: 20px 0 10px 0;
}
.acceptance input {
  height: auto !important;
}

.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  display: none;
  z-index: 999;
  margin: 0 auto;

      @media screen and (max-width:760px) {
        display: block;
      }
}


.dl-menuwrapper button {
  background: $primary-color;
  border: none;
  width: 160px;
  height: 35px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  text-align: right;
  margin: 0 auto 20px;
  display: block;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: darken($primary-color, 10%);
}

.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: 9px;
  left: 5%;
  box-shadow: 
    0 7px 0 #fff, 
    0 14px 0 #fff;
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  outline: none;
}


.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0,0,0,0.1);
}


.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212,204,198,0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: $primary-color;
  border-radius: 2px;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}