.address, .email-icon, .emailicon, .Email-iconn, .Phone-iconn, .hours, .nameicon, .phone-icon, .phoneicon, .resize, .left, .lefth, .pageLeft, .pageLefth, .pageRight, .pageRighth, .right, .righth, .Facebook, .Pinterest, .Twitter, .closedindicator, .openindicator, .radio-filled, .radio, .Cart-hover, .Cart-reg, .Phone-icon, .Search-icon, .Facebook, .Facebookh, .Gplus, .Gplush, .Pinterest, .Pinteresth, .Twitter, .Twitterh, .Gift-icon, .PDF-File, .listh, .list, .gridlayout, .gridlayouth, .-, .+, .Cat_go, .Cat_goh, .lefts, .New-ribbon, .rights, .Sale-ribbon, .Slider-bubble, .Facebook, .Facebookh, .Gplus, .Gplush, .Pinterest, .Pinteresth, .Twitter, .Twitterh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;
}

.address{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:   -86px -30px ;
	width: 22px;
	height: 28px;
}

.email-icon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:   -57px -29px ;
	width: 23px !important;
	height: 18px;
}

.emailicon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:   -58px 0;
	width: 16px;
	height: 11px;
}

.hours{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -27px ;
	width: 23px;
	height: 24px;
}

.nameicon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -39px 0;
	width: 14px;
	height: 16px;
}

.phone-icon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -30px -28px ;
	width: 19px;
	height: 26px;
}

.phoneicon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -21px 0;
	width: 12px;
	height: 16px;
}

.resize{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 0;
	width: 15px;
	height: 15px;
}
.left{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -242px -66px ;
	width: 32px;
	height: 32px;
	display:block;
	float:left;
}

.lefth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -207px -66px ;
	width: 32px;
	height: 32px;
}

.pageLeft{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -174px -66px ;
	width: 30px;
	height: 30px;
}

.pageLefth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -141px -66px ;
	width: 30px;
	height: 30px;
}

.pageRight{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -103px -65px ;
	width: 30px;
	height: 30px;
}

.pageRighth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -70px -65px ;
	width: 30px;
	height: 30px;
}

.right{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -35px -64px ;
	width: 32px;
	height: 32px;
	display:block;
	float:left;
}

.righth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -64px ;
	width: 32px;
	height: 32px;
}

.f-Facebook{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -64px -104px ;
	width: 31px !important;
	height: 29px;
}

.f-Pinterest{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -31px -103px ;
	width: 30px !important;
	height: 29px;
}

.f-Twitter{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -103px ;
	width: 30px !important;
	height: 29px;
}

.closedindicator{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -48px -144px ;
	width: 6px;
	height: 7px;
}

.openindicator{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -34px -144px ;
	width: 7px;
	height: 6px;
}

.radio-filled{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -16px -141px ;
	width: 13px;
	height: 13px;
}

.radio{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -141px ;
	width: 13px;
	height: 13px;
}

.Cart-hover{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -44px -197px ;
	width: 29px;
	height: 29px;
}

.Cart-reg{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -197px ;
	width: 29px;
	height: 28px;
}

.Phone-icon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -163px ;
	width: 23px !important;
	height: 22px;
}

.Phone-iconn{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -30px -450px;
	width: 31px !important;
	height: 30px;
	margin-right:11px;
}

.Email-iconn{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0px -458px;
	width: 30px !important;
	height: 22px;
	margin-right:11px;
}

.Search-icon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -58px -141px ;
	width: 15px;
	height: 15px;
}

.Facebook{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -534px -27px ;
	width: 21px;
	height: 21px;
}

.Facebookh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -540px -4px ;
	width: 21px;
	height: 21px;
}

.Gplus{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -563px -28px ;
	width: 21px;
	height: 21px;
}

.Gplush{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -565px -4px ;
	width: 21px;
	height: 21px;
}

.Pinterest{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -594px -28px ;
	width: 22px;
	height: 21px;
}

.Pinteresth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -594px -5px ;
	width: 22px;
	height: 21px;
}

.Twitter{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -618px -28px ;
	width: 22px;
	height: 21px;
}

.Twitterh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -619px -4px ;
	width: 21px;
	height: 21px;
}

.Gift-icon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -562px -417px ;
	width: 78px;
	height: 63px;
}

.PDF-File{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -487px -417px ;
	width: 70px;
	height: 63px;
}

.listh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -305px ;
	width: 23px;
	height: 16px;
}

.list{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -31px -305px ;
	width: 23px;
	height: 16px;
}

.gridlayout{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -24px -274px ;
	width: 16px;
	height: 16px;
}

.gridlayouth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  0 -274px ;
	width: 16px;
	height: 16px;
}

.-{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -277px -204px ;
	width: 21px;
	height: 20px;
}

.+{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -305px -172px ;
	width: 21px;
	height: 20px;
}

.Cat_go{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -325px -310px ;
	width: 32px;
	height: 32px;
}

.Cat_goh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -287px -308px ;
	width: 32px;
	height: 32px;
}

.lefts{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -278px -172px ;
	width: 21px;
	height: 20px;
}

.New-ribbon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -362px -249px ;
	width: 63px;
	height: 63px;
}

.rights{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -226px -290px ;
	width: 21px;
	height: 20px;
}

.Sale-ribbon{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -375px -169px ;
	width: 63px;
	height: 63px;
}

.Slider-bubble{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -209px -195px ;
	width: 44px;
	height: 28px;
}

.Facebook{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -524px -216px ;
	width: 19px;
	height: 18px;
}

.Facebookh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -524px -241px ;
	width: 19px;
	height: 18px;
}

.Gplus{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -594px -217px ;
	width: 19px;
	height: 18px;
}

.Gplush{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -595px -241px ;
	width: 19px;
	height: 18px;
}

.Pinterest{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -572px -217px ;
	width: 19px;
	height: 18px;
}

.Pinteresth{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -572px -241px ;
	width: 19px;
	height: 18px;
}

.Twitter{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -549px -217px ;
	width: 19px;
	height: 18px;
}

.Twitterh{
	background-image: url(sprites.png) !important;
	background-repeat:no-repeat;	
	background-position:  -549px -242px ;
	width: 19px;
	height: 18px;
}

